<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.ovgu.featureide.core.featurehouse.proofautomation.ui.ProofAutomationView"
            id="de.ovgu.featureide.core.featurehouse.proofautomation.ui.ProofAutomationView"
            name="ProofAutomation"
            restorable="true">
      </view>
   </extension>

</plugin>
